@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

.btn-primary{
    color: #5A6ACF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
    width: 109px;
    height: 32px;
    flex-shrink: 0;
    background-color: #FBFCFE;
    border: solid 1px #DDE4F0;
}

.card, .card-header, .card-body {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.card-tile{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.5px;
}
